# Environment
venv/
.venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/

# Django
*.log
media/
staticfiles/
local_settings.py
db.sqlite3

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
